.cactus {
    border-radius: 16px;
    object-fit: auto;
    object-position: center;
    width: 368px;
    height: 153px;
}

body {
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    display: flex;
    font-family: "Sora";
    height: 100vh;
}

.card {
    justify-content: center;
    border-radius: 13px;
    box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    display: flex;
    width: 368px;
    max-width: 100%;
    padding: 16px;
    flex-direction: column;
}

.tag {
    border-radius: 15px;
    background-color: #e6d6fc;
    align-self: start;
    margin-top: 16px;
    justify-content: center;
    color: #883ae1;
    padding: 7px 20px;
    font-size: 10px;
}

h1 {
    font-size: 18px;
    font-weight: 600px;
    color: #20293A;
    margin-top: 6px;
}

.description {
    font-size: 15px;
    font-weight: 400px;
    color: #6C727F;
    line-height: 154%;
    margin-top: 6px;
    margin-bottom: 16px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #E5E7EB;
}

.autor {
    font-size: 13px;
    font-weight: 300px;
    color: #6C727F;
    margin-top: 16px;
}