.cactus {
    border-radius: 13px;
    object-fit: auto;
    object-position: center;
    width: auto;
    height: 153px;
    margin: 16px 16px 6px 16px;
}

body {
    justify-content: center;
    align-items: center;
    background-color: #FAFAF9;
    display: flex;
    font-family: "Sora";
    height: 100vh;
    overflow: hidden;
}

.card {
    justify-content: center;
    border-radius: 13px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    background-color: #ffffff;
    display: flex;
    width: 368px;
    max-width: 100%;
    flex-direction: column;
}

.tag {
    border-radius: 15px;
    background-color: #e6d6fc;
    align-self: start;
    margin-left: 16px;
    justify-content: center;
    color: #883ae1;
    padding: 5px 20px;
    font-size: 10px;
}

h1 {
    font-size: 18px;
    font-weight: 600px;
    color: #20293A;
    margin-top: 6px;
    padding: 0 16px 0 16px;
}

.description {
    font-size: 13px;
    font-weight: 400px;
    color: #6C727F;
    line-height: 154%;
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 0 50px 0 16px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #E5E7EB;
}

.autor {
    font-size: 13px;
    font-weight: 300px;
    color: #6C727F;
    padding: 6px 16px 6px 16px;
}
